---
layout: false
title: そろんぷ そろばん音符
---
<!DOCTYPE html>
<html lang="ja" color-mode="user">
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body style="margin: 0">
    <div id="app"></div>
    <script type="module" src="main.js"></script>
  </body>
</html>
